    body {
        background-image: url(alap.jpg);
        width: 70%;
        margin: 20px auto;
        text-align: center;
        width: 60%;
        text-align: justify;
        font-family: times new roman, serif;
    }
    
    h1,
    h2 {
        text-align: center;
    }
    
    img {
        float: right;
        width: 100px;
    }
    
    #felkover {
        font-weight: bold;
    }
    
    #dolt {
        font-style: italic;
    }
    
    hr {
        height: 10px;
        color: grey;
        background-color: grey;
    }
    
    #jobbra {
        text-align: right;
    }
    
    #alairas {
        text-align: right;
    }