body {
    background-color: #DDFFFF;
    color: #004400;
    font-family: Monotype Corsiva, Times new Roman, Courier;
    width: 50%;
    margin: 0 auto;
    font-size: large;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
}

hr {
    border: 1px solid #42ad63;
    border-radius: 10px;
}

a,
a:hover,
a:active {
    color: #004400;
}

#elsotable {
    background-color: #8cdead;
}

#elsotable tr:first-child,
#elsotable tr:last-child {
    background-color: #42ad63;
    height: 10px;
}

#masodiktable {
    background-color: #8cdead;
}

#masodiktable tr td {
    border-style: double;
}

#utso {
    text-align: center;
}